@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global scrollbar styles */
main {
    scrollbar-width: none; /* Hides scrollbar for Firefox */
    overflow: auto; /* Ensures scrolling is still possible */
  }
  
  main::-webkit-scrollbar {
    display: none; /* Hides scrollbar for Chrome, Safari, and Edge */
  }

  html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent extra scrollbars from the root */
  }
  
  body {
    overflow: auto; /* Restore scrolling on the body if needed */
  }
  
  .no-scrollbar {
    scrollbar-width: none; /* Hides scrollbar for Firefox */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Hides scrollbar for Chrome, Safari, and Edge */
  }
  
  
  
