@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global scrollbar styles */
main {
    scrollbar-width: none; /* Hides scrollbar for Firefox */
    overflow: auto; /* Ensures scrolling is still possible */
  }
  
  main::-webkit-scrollbar {
    display: none; /* Hides scrollbar for Chrome, Safari, and Edge */
  }
  